.Button{
  display: flex;
}

.btn{
  font-size: 18px;
  color: #fff;
  background: linear-gradient(90deg, #05C7F2 -0.8%, #6C69F7 98.5%);
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: 500;
}

.btn:hover{
  background: #fff;
  color: #000;
}

@media(max-width:600px){
  .btn{
    padding: 0.625rem 0.875rem;
    font-size: 1rem;
  }
}
@media(max-width:320px){
  .btn{
    padding: 0.825rem 0.875rem;
    font-size: 0.875rem;
  }
}